@import "tailwindcss";

@theme {
  --color-primary: #ff4061;
}

* {
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
}
.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff4061;
}

.scroll-behavior-div {
  max-height: 500px !important;
  height: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.MuiBadge-badge {
  background-color: #ff4061 !important;
}

button {
  font-family: "Montserrat", sans-serif !important;
}

nav ul button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500 !important;
}

button {
  color: rgba(0, 0, 0, 0.7) !important;
  text-transform: unset !important;
}

nav ul button:hover {
  background: none !important;
  color: #ff4061 !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.swiper .swiper-button-next svg,
.swiper .swiper-button-prev svg {
  width: 20px;
  height: 20px;
  fill: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

/* Tabs */
.MuiTabs-root .Mui-selected {
  color: #ff4061 !important;
}
.MuiTabs-indicator {
  background-color: #ff4061 !important;
}

.productSlider .swiper-wrapper {
  margin-left: 0 !important;
}
